.list-of-conversion{
    padding-left: 40px;
}

.number-system-content{
    padding-left: 40px;
}

.content-table{
    margin-right: 50px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    margin-left: 10%;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.err-msg{
    text-align: center;
}

@media(max-width : 600px){
    .number-system-content{
        margin-left: 5%;
    }

    .number-table{
        margin-left: 5%;
    }

    .input-wrapper{
        margin-top: 10px;
    }
}